bin
/pinanol-raden_p1.inp
/pinanol-raden_p1.out
/pinanol-raden_p11.inp
/pinanol-raden_p11.out
/pinanol-raden_p13.inp
/pinanol-raden_p13.out
/pinanol-raden_p15.inp
/pinanol-raden_p15.out
/pinanol-raden_p17.inp
/pinanol-raden_p17.out
/pinanol-raden_p19.inp
/pinanol-raden_p19.out
/pinanol-raden_p21.inp
/pinanol-raden_p21.out
/pinanol-raden_p23.inp
/pinanol-raden_p23.out
/pinanol-raden_p25.inp
/pinanol-raden_p25.out
/pinanol-raden_p27.inp
/pinanol-raden_p27.out
/pinanol-raden_p29.inp
/pinanol-raden_p29.out
/pinanol-raden_p3.inp
/pinanol-raden_p3.out
/pinanol-raden_p31.inp
/pinanol-raden_p31.out
/pinanol-raden_p33.inp
/pinanol-raden_p33.out
/pinanol-raden_p35.inp
/pinanol-raden_p35.out
/pinanol-raden_p37.inp
/pinanol-raden_p37.out
/pinanol-raden_p39.inp
/pinanol-raden_p39.out
/pinanol-raden_p41.inp
/pinanol-raden_p41.out
/pinanol-raden_p43.inp
/pinanol-raden_p43.out
/pinanol-raden_p45.inp
/pinanol-raden_p45.out
/pinanol-raden_p47.inp
/pinanol-raden_p47.out
/pinanol-raden_p49.inp
/pinanol-raden_p49.out
/pinanol-raden_p5.inp
/pinanol-raden_p5.out
/pinanol-raden_p51.inp
/pinanol-raden_p51.out
/pinanol-raden_p53.inp
/pinanol-raden_p53.out
/pinanol-raden_p55.inp
/pinanol-raden_p55.out
/pinanol-raden_p57.inp
/pinanol-raden_p57.out
/pinanol-raden_p59.inp
/pinanol-raden_p59.out
/pinanol-raden_p61.inp
/pinanol-raden_p61.out
/pinanol-raden_p63.inp
/pinanol-raden_p63.out
/pinanol-raden_p65.inp
/pinanol-raden_p65.out
/pinanol-raden_p67.inp
/pinanol-raden_p67.out
/pinanol-raden_p69.inp
/pinanol-raden_p69.out
/pinanol-raden_p7.inp
/pinanol-raden_p7.out
/pinanol-raden_p9.inp
/pinanol-raden_p9.out
/stdout
/chem.asc
/chem.asu
/chem.out
/CKPreProc_template.input
/CKSolnList.txt
/parity-TDcons-off-on.xlsx
/parity.csv
